@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --default-font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
    @apply w-full max-w-[1090px] mx-auto;
}

.gradient-border-wrapper {
  background: linear-gradient(269.57deg, #7A87FB 0.72%, #FFD49C 99.22%);
  padding: 1px;
}

.gradient-bg {
  background: linear-gradient(90deg, #7A87FB 0%, #FFD49C 100%);
}